body {
    margin: 0;

}

#root {
    justify-content: center;
    min-height: 100%;
    flex-basis: 75%;
}

li {
    list-style: none;
}


h1 {
    font-size: 18px;
}

p {
    font-size: 0.8em;
}

button {
    max-height: 25px;
}